.main-big-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      0.14deg,
      rgba(249, 255, 237, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hometitle {
  color: #ff7b00;
}

.main-container {
  border-radius: 20px;
  width: 700px;
  height: 500px;
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.767) 6.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.createAccount {
  color: #ff6600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
  line-height: 15px;
  padding-bottom: 10%;
}
.uploadUnderLine {
  width: 300px;
  margin-bottom: 20%;
  border: 1px solid rgba(255, 255, 255, 0.71);
}

.main-buttons {
  width: 50%;
  height: 9%;

  letter-spacing: 5px;
  font-weight: 15px;
  font-size: 20px;
  border-radius: 15px;
  line-height: 15px;
  background: linear-gradient(180deg, #2a2e2e 0%, #171b1b 100%);
  box-shadow: 0px 4px 50px 10px rgba(255, 102, 0, 0.993);
  border: transparent;
  color: #ff6600;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(255, 139, 6, 0.87);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-buttons:hover {
  color: #fc9004;
  background: #ffffff;
}

.registerText {
  color: #ff7d04;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 20px;
  line-height: 15px;
  padding-bottom: 10%;
  height: 0;
}

.usernameSignUpInput {
  margin: auto;
  transform: translate(-50%, -50%);
  color: transparent;
  padding-left: 50%;
}

.usernameSignUpInput svg {
  color: rgb(28, 32, 32);
}

.passwordSignUpInput {
  transform: translate(-50%, -50%);
  padding-left: 50%;
  margin: auto;
}
.passwordSignUpInput svg {
  color: rgb(28, 32, 32);
}

.Button_ {
  transform: translate(-50%, -50%);
  position: absolute;
  width: 200px;
  height: 40px;
  left: 49.9%;
  bottom: 30%;
  letter-spacing: 5px;
  font-weight: 15px;
  font-size: 20px;
  border-radius: 10px;
  line-height: 15px;
  background: linear-gradient(180deg, #2a2e2e 0%, #171b1b 100%);
  box-shadow: 0px 4px 50px 10px rgba(255, 102, 0, 0.993);
  border: transparent;
  color: #ff6600;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(255, 139, 6, 0.87);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Button_:hover {
  color: #f5680b;
  background: #ffffff;
}

.navbar-container {
  margin-top: 50px;
  background: linear-gradient(
      0.14deg,
      rgba(165, 167, 152, 0.445) 6.87%,
      rgb(254, 255, 247) 100.94%
    ),
    #131c20;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 30px;
  color: #ff9102;
}
.navbar-btn {
  color: black;
}
.active {
  color: #ff9900;
}
.logout- ~ button:hover {
  color: #ff9900;
  background: #ffffff;
}
.account-big-container {
  margin-top: 40px;

  width: 100vw;
  height: 70%;
}
.account-container {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}
.users-search {
  padding-left: 2%;
  color: white;
  font-size: x-large;
  width: 68%;
  height: 50px;
}
.containerSearch {
  font-size: x-large;
  color: white;
  height: 50px;
  width: 30%;
}
.acc-users-text {
  padding-left: 2%;
  color: white;
  font-size: x-large;
  width: 68%;
  height: 50px;
}
.acc-transations-text {
  font-size: x-large;
  color: white;
  height: 50px;
  width: 30%;
}
.users-myaccount {
  overflow: scroll;
  padding-left: 1%;
  width: 69%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.transactions-myaccount {
  width: 30%;
  display: flex;
  height: 300px;
  overflow: scroll;
  flex-wrap: wrap;
  gap: 15px;
}
.transactions-myaccount-container {
  overflow: hidden;
  margin-right: 4%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 20px;
  height: 120px;
}
.transaction-text {
  width: 50%;
}
.accInfo {
  background: linear-gradient(
      0.14deg,
      rgba(212, 214, 190, 0.445) 6.87%,
      rgb(248, 248, 245) 100.94%
    ),
    #131c20;
  justify-content: start;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 10px 1px rgba(255, 255, 255, 0.534);
}
.acc-big-container {
  height: 100vh;
  background: linear-gradient(
      0.14deg,
      rgba(249, 255, 237, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
}
.profile-big-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  margin-right: 130px;
  width: 500px;
}
.profile {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.profile-img {
  background-color: #ffffff;
  border: 3px solid #555;
  border-color: aliceblue;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}
.profile-text {
  width: 50%;
  padding-left: 30px;
  color: #ffffff;
  font-size: x-large;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.user-container {
  margin-left: 280px;
}

.userInfoAcc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tranbutton {
  position: absolute;
  bottom: -50%;
  right: -15%;
  border-radius: 6px;
  background-color: #f5680b;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  color: #131c20;
}

/* ///////////////////////////////////////
////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: url("images/bg.png");
  background-size: cover;
  width: 430px;
  padding: 30px;
  border-radius: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top .logo img {
  width: 55px;
}

.top .logo p {
  font-size: 16px;
}

.top .chip img {
  width: 70px;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom .number {
  margin: 20px 0;
}

.bottom .number h3 {
  font-size: 14px;
}

.bottom .number p {
  font-size: 24px;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.bottom .nameDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .nameDate .name {
  align-self: flex-end;
  letter-spacing: 1px;
}

.bottom .nameDate .date .valid {
  font-size: 12px;
}

.With-Depo {
  flex-direction: column;
  display: flex;
  margin-left: 10%;
  margin-top: 40px;
  width: 15%;
  border-radius: 12px;
}
.with-depo-btn {
  margin-bottom: 20%;
  border-radius: 6px;
  letter-spacing: 5px;
  font-weight: 15px;
  font-size: 20px;
  border-radius: 10px;
  line-height: 55px;
  background: linear-gradient(180deg, #2a2e2e 0%, #171b1b 100%);
  box-shadow: 0px 4px 50px 10px rgba(255, 102, 0, 0.993);
  border: transparent;
  color: #ff6600;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(255, 139, 6, 0.87);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.with-depo-btn:hover {
  color: #ff9900;
  background: #ffffff;
}

/* //////////////////////////////
/////////////////////////////
//////////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
** {
  margin: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* .scrollbar {
  height: 100%;
  width: 100%;

  overflow: hidden;
} */

.body2 {
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageSection1 {
  background-image: url(images/image1.jpg);
  min-height: 400px;
}
.imageSection2 {
  background-image: url(images/image2.jpg);
  min-height: 400px;
}
.imageSection3 {
  background-image: url(images/image3.jpg);
  min-height: 400px;
}
.imageSection1,
.imageSection2,
.imageSection3 {
  position: relative;
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text {
  font-size: 25px;
  padding: 20px 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.486);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.sectionLight {
  background: linear-gradient(
      0.14deg,
      rgba(165, 167, 152, 0.445) 6.87%,
      rgb(254, 255, 247) 100.94%
    ),
    #131c20;
  color: rgba(0, 0, 0, 0.384);
}
.sectionDark {
  background: rgba(0, 0, 0, 0.432);
  color: white;
}
.sectionLight,
.sectionDark {
  padding: 50px 200px;
  text-align: center;
}
.sectionLight h2,
.sectionDark h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.sectionLight p,
.sectionDark p {
  line-height: 25px;
  font-size: 18px;
}

/* //////////////////////////////
//////////////////////////////
///////////////////////////////
//////////////////////////////// */

#checkbox {
  display: none;
}

.containerSearch.search-box {
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  box-shadow: rgba(212, 214, 190, 0.445);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

#checkbox:checked ~ .search-box {
  max-width: 380px;
}
.search-box input {
  font-size: 20px;
  position: absolute;
  outline: none;
  border: none;
  background: #555;
  height: 3%;
  width: 18%;
  border-radius: 25px;
  padding-left: 20px;
}

.search-box.icon {
  cursor: pointer;
  width: 10px;
  height: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  color: #f5680b;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

#checkbox:checked ~ .search-box.icon {
  width: 30px;
  color: white;
  background-color: #f5680b;
  border-radius: 0 25px 25px 0;
}

.home-container {
  margin-top: 20px;
}
